{% extends '::admin.html.twig' %}

{% block body %}

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">Vous êtes ici: </div>
    <li><a href="{{ path('site_admin') }}">Accueil</a></li>
    <li class="active"><a href="{{ path('site_admin_articles') }}">Médias</a></li>
</ul>
<div class="page-header">
	<h1><i class="glyphicon glyphicon-picture page-header-icon"></i>&nbsp;&nbsp;Médias</h1>
</div>
<div class="gallery-buttons bottom-30px">
	<button type="button" class="btn btn-custom-primary btn-md"><i class="fa fa-upload"></i> Upload New Image</button>
	<button type="button" class="btn btn-primary btn-md"><i class="fa fa-picture-o"></i> New Album</button>
</div>
<div class="row list-group king-gallery">
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="list-group-image" src="{{ asset('uploads/img/bird.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/bird.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>139 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/jet-sky.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/jet-sky.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>108 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/cuba-cup.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/cuba-cup.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>125 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/fence.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/fence.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>154 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/kitsune.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/kitsune.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>122 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/lighthouse.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/lighthouse.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/desk.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/desk.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/mac.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/mac.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/chair.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/chair.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/cafe.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/cafe.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/desk2.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/desk2.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	<div class="item col-md-3 col-sm-6">
		<div class="thumbnail">
			<img class="group list-group-image" src="{{ asset('uploads/img/hand.jpg') }}" alt="">
			<div class="caption">
				<h3 class="inner list-group-item-heading">Image Title</h3>
				<ul class="list-unstyled">
					<li>
						<strong>Path:</strong>
						<em>assets/img/gallery/hand.jpg</em>
					</li>
					<li>
						<strong>File Size:</strong>
						<em>132 KB</em>
					</li>
				</ul>
				<div class="action-buttons">
					<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% block javascripts %}
	<script src="{{ asset('js/page_context.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/king-common.min.js') }}"></script>
{% endblock %}
<!-- 
<div class="page-header">
  <h2 class="sub-header">Liste categories</h2>
  <a href="{{ path('site_admin_ajouter') }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Nouveau</button></a>
  <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span> Recherche</button>
</div>
<div class="table-responsive">
    <table class="table table-striped">
    	<thead>
    		<tr>
    		  <th>id</th>
              <th>Nom</th>
              <th>Créer par</th>
              <th>Date création</th>
              <th>Header</th>
    		</tr>
    	<thead>
		    	<tbody>
		    		<td>test 1</td>
		    		<td>test 2</td>
		    		<td>test 3</td>
		    		<td>test 4</td>
		    		<td>
		    			<button type="button" class="btn btn-default btn-sm">
						  <span class="fa fa-pencil fa-fw"></span> Éditer
						</button>
						<button type="button" class="btn btn-default btn-sm">
						  <span class="glyphicon glyphicon-trash"></span> Supprimer
						</button>
		    		</td>
		    	</tbody>                      
    </table>
</div> -->

{% endblock%}