{% extends "::admin.html.twig" %}

{% block body %}

<div class="page-header"><h2 class="sub-header">Modifier l’article <small><h2></h2>{{ Articles.titre }}</h2></small></div>

<form actions="{{ path('site_admin_editer', { 'id': Articles.id }) }}" method="post" role="form" {{ form_enctype(form) }}>
	<div class="form-group">
		<div class="form-group">
		{{ form_label(form.titre) }}
		{{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
	</div>

	<div class="form-group">
		{{ form_label(form.contenu) }}
		{{ form_widget(form.contenu, { 'attr': {'class': 'tinymce'} }) }}
	</div>

	<div class="form-group">
		{{ form_label(form.image, 'Ajouter media') }}
		{{ form_widget(form.image) }}
	</div>
	<br>

    <button type="submit" class="btn btn-default">Valider</button>
    
</form>
<br><br>
<a href="{{ path('site_admin_articles') }}">
	<button type="button" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-chevron-left"></span> Retourner</button></a>
<a href="{{ path('site_admin_supprimer', { 'id': Articles.id }) }}"><button type="button" class="btn btn-danger btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Supprimer</button></a>

{% block javascripts %}{{ tinymce_init() }}{% endblock %}

{% endblock%}
